
@keyframes animImg {
    from {
        -webkit-transform: translate(90px,0px);
        transform: translate(90px,0px);
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes animTitle {
    14% {
        color: #9400D3;
    }

    27% {
        color: #0000FF;
    }

    40% {
        color: lightblue;
    }

    52% {
        color: #00FF00;
    }

    65% {
        color: #FFFF00;
    }

    80% {
        color: #FF7F00;
    }

    90% {
        color: #FF0000;
    }
}

.topbar-wrapper img {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: animImg;
    position: absolute;
}

.topbar-wrapper span, label {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: animTitle;
}
